rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{userId}/scores/{scoreId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /public_scores/{scoreId} {
      allow read: if true;
      
      allow create: if request.auth != null && request.resource.data.publisherUid == request.auth.uid;
      
      allow update, delete: if request.auth != null && (
        request.auth.uid == resource.data.publisherUid ||
        request.auth.token.email == "manu.santos.zone@gmail.com"
      );
    }
  }
}